.section-projects {
   background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('../../../assets/images/portfolio_bg.jpg') no-repeat 50% 50%;
   background-attachment: fixed;
   background-size: cover;
   overflow: hidden;

   .section-inner {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
   }
}
