@import '../../styles/colors';
@import '../../styles/fonts';

.btn {
   flex: 1;
   padding-right: 20px;

   button {
      width: 100%;
      padding: 10px 20px;
      border: none;
      outline: none;
      @include font-Ubuntu;
      font-size: 0.9rem;
      text-transform: uppercase;
      cursor: pointer;
      opacity: 0.9;
      border-radius: 4px;

      &:hover {
         opacity: 1;
      }
   }

   .round {
      border-radius: 25px;
   }

   .btn-primary {
      color: $color-gray;
      background-color: $color-blank-white;
   }

   .btn-secondary {
      color: $color-blank-white;
      border: 2px solid $color-blank-white;
      background-color: transparent;
   }

   .btn-square {
      color: $color-gray;
      background-color: $color-blank-white;
   }
}
