@import '../../styles/colors';
@import '../../styles/fonts';

.greetings {
  flex-grow: 1;
  color: $color-blank-white;
  display: flex;
  align-items: center;

  .greetings-wrapper {
    padding-bottom: 60px;
    &__title {
      font-size: 3.2rem;
      line-height: 4rem;
      margin-bottom: 10px;
    }

    &__subtitle {
      font-size: 1.8rem;
      line-height: 2.4rem;
      letter-spacing: 1px;
    }

    &__group {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }
  }
}

.text_primary {
  @include font-PT_Sans;
  font-weight: normal;
}

.text_secondary {
  @include font-Ubuntu;
  font-weight: lighter;
}
