@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/variables';

.greetings {
   flex-grow: 1;
   color: $color-blank-white;
   display: flex;
   align-items: center;

   .greetings-wrapper {
      width: 100%;
      padding-bottom: 0;

      @media (min-width: $screen-lg) {
         padding-bottom: 60px;
      }

      &__title {
         font-size: 2.2rem;
         line-height: 3rem;
         margin-bottom: 10px;

         @media (min-width: $screen-sm) {
            font-size: 2.6rem;
            line-height: 3.2rem;
         }

         @media (min-width: $screen-md) {
            font-size: 3rem;
            line-height: 3.8rem;
         }
      }

      &__subtitle {
         font-size: 1.2rem;
         line-height: 1.8rem;
         letter-spacing: 1px;

         @media (min-width: $screen-sm) {
            font-size: 1.6rem;
            line-height: 2.1rem;
         }

         @media (min-width: $screen-md) {
            font-size: 1.6rem;
            line-height: 2.2rem;
         }
      }

      &__group {
         display: flex;
         justify-content: space-between;
         margin-top: 20px;
         flex-direction: column;

         @media (min-width: $screen-sm) {
            flex-direction: row;
            margin-top: 30px;
         }

         @media (min-width: $screen-lg) {
            flex-direction: row;
            margin-top: 30px;
            width: 90%;
         }

         @media (min-width: $screen-lg) {
            flex-direction: row;
            margin-top: 30px;
            width: 75%;
         }
      }
   }
}

.text_primary {
   @include font-PT_Sans;
   font-weight: normal;
}

.text_secondary {
   @include font-Ubuntu;
   font-weight: lighter;
}
