@import '../../styles/colors';
@import '../../styles/fonts';

.sectionTitle {
  padding-top: 80px;
  flex-shrink: 1;
  text-align: center;

  .sectionTitle__text {
    @include font-Ubuntu;
    color: $color-blank-white;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: normal;
  }
}
