@import '../../styles/colors';

.section-title{
   text-align: center;

   .section-title__text{
      color: $color-blank-white;
      font-size:2.4rem;
      font-family: 'Ubuntu';
      text-transform: uppercase;
      font-weight: normal;
   }
}