$color-blank-white: #EFEFED;
$color-light-gray: #B8B5B0;
$color-gray: #443F39;
$color-secondary: #1F2125;
$color-primary: #020204;

$color-dark-blue:#1392D3;
$color-peach: #EA958E;
$color-light-blue:#5bdafd;

