.section-home {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url('../../../assets/images/home_bg.jpg') no-repeat 50% 50%;
  background-size: cover;

  .section-inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
