@import '../../../styles/colors';

.menu__item{
   color:$color-blank-white;
   font-family: 'Ubuntu';
   font-size: 1.2rem;
   margin-left: 20px;
   cursor: pointer;
   opacity: 0.7;

   &:hover{
      opacity: 0.9;
   }
}

.active{
   opacity: 1;
}